pymupdf
pillow
num2words
langchain-groq
python-dotenv
requests
pydantic
pdfplumber
camelot-py
pdf2image
plotly
streamlit
python-docx
PyPDF2
babel
numpy
pandas
pytesseract









